<div class="container topmargin-lg">

    <div class="fancy-title title-center title-border">
        <h3>Your Role</h3>
    </div>

    <div class="row col-mb-50 mb-0">
        <div class="col-md-4">
            <a routerLink="../login" class="button button-border button-rounded button-fill button-aqua"><span>commercial</span></a>
        </div>

        <div class="col-md-4">
            <a routerLink="../login" class="button button-border button-rounded button-fill fill-from-top button-amber"><span>Employee</span></a>
        </div>

        <div class="col-md-4">
            <a routerLink="../login" class="button button-border button-rounded button-fill fill-from-right button-blue"><span>Customer</span></a>
        </div>
    </div>

</div>