.body {
    position: relative;
    height: 1080px;
    background: url(), #F4D1EE;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    font-family: "Poppins", sans-serif;
}

.navbar {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    text-align: center;
}

.navbar-brand {
    position: relative;
    width: 83px;
    height: 38px;
    font-size: 25px;
    line-height: 38px;
    /* identical to box height */
    color: #93117D;
}

.navbar-brand:hover {
    color: #93117D;
}

.nav-item a {
    margin-left: 20px;
    color: #93117D;
    position: relative;
    font-size: 16px;
}

.nav-item a:hover {
    color: #fddb3a;
}

.btn-modify {
    position: relative;
    background: #93117D !important;
    box-shadow: -8px -8px 10px rgba(255, 255, 255, 0.5), 8px 8px 10px rgba(95, 12, 81, 0.5) !important;
    border-radius: 101.5px !important;
}