<div class="container pt-5 pb-5">
    <div class="col-12">
        <div class="d-flex flex-wrap justify-content-between">
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Services Component</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Services Component</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Services Component</h5>
                    <p class="card-text">Content itself is what the user derives value from. Thus, "content" can refer to the information provided through the medium, the way in which the information was presented, as well as the added features included in the medium in which
                        that information was delivered. The medium, however, provides little to no value to the end-user without the information and experiences that make up the content.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Services Component</h5>
                    <p class="card-text">Content itself is what the user derives value from. Thus, "content" can refer to the information provided through the medium, the way in which the information was presented, as well as the added features included in the medium in which
                        that information was delivered. The medium, however, provides little to no value to the end-user without the information and experiences that make up the content.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Services Component</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Services Component</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Services Component</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Submit form with api & keyup event enter -->
<div class="container">
    <form>
        <input #inputTitle name="inputTitle " type="text " class="form-control mt-2 ">
        <!-- Keyup event for both two input field together -->
        <input (keyup.enter)="createPost(inputBody,inputTitle)" #inputBody name="inputBody" type="text " class="form-control mt-2 ">
    </form>
</div>

<div class="container ">
    <div class="card shadow mt-2 ">
        <div class="card-body ">
            <h5 class="card-title ">Post Component</h5>
            <ul class="list-group ">
                <li class="list-group-item " *ngFor="let list of posts ">

                    <!-- Update and delete post implemented -->
                    <p style="color: brown;">Title
                        <button (click)="updatePost(list)" class="btn btn-outline-info btn-sm"><i class="zmdi zmdi-edit"></i></button>
                        <button (click)="deletePost(list)" class="btn btn-outline-danger btn-sm mx-1"><i class="zmdi zmdi-delete"></i></button>
                    </p>
                    <p style="font-size: large;">{{list.title}}</p>
                    <p style="color: blueviolet;">Body</p>
                    <p>{{list.body}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>