<div class="body">
    <div class="container width mt-3" style="height: auto !important;">
        <!-- Full Form Hander Field -->
        <form class="center" id="registerForm" #registerForm="ngForm" (ngSubmit)="onRegSubmit(registerForm)">

            <!-- firstName Feild -->
            <div class="mb-3 row col-md-12">
                <div class="col-md-6 mb-3">
                    <input required ngModel minlength="2" type="text" name="firstName" id="firstName" #firstName="ngModel" placeholder="  First name:" class="form-control f-info">

                    <mat-error *ngIf="firstName.touched && !firstName.valid">
                        <mat-error *ngIf="f.errors?.['required']"><i class="zmdi zmdi-alert-circle-o"> User name is required.</i>
                        </mat-error>
                        <mat-error *ngIf="firstName.errors?.['minlength']"><i class="zmdi zmdi-alert-circle-o"></i> User name should be minimum {{firstName.errors?.['minlength'].requiredLength}} characters.
                        </mat-error>
                    </mat-error>
                </div>

                <!-- Last Name field -->
                <div class="col-md-6 mb-3">
                    <input required ngModel minlength="2" type="text" name="lastName" id="lastName" #lastName="ngModel" placeholder="  Last name:" class="form-control f-info">

                    <mat-error *ngIf="lastName.touched && !lastName.valid">
                        <mat-error *ngIf="lastName.errors?.['required']"><i class="zmdi zmdi-alert-circle-o"> User name is required.</i>
                        </mat-error>
                        <mat-error *ngIf="lastName.errors?.['minlength']"><i class="zmdi zmdi-alert-circle-o"></i> User name should be minimum {{lastName.errors?.['minlength'].requiredLength}} characters.
                        </mat-error>
                    </mat-error>
                </div>

                <!-- emailAddress Feild -->
                <div class="mb-3 col-md-12">
                    <input required ngModel type="emailAddress" name="emailAddress" id="emailAddress" #emailAddress="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="  E-mail:" class="form-control f-info" />

                    <mat-error *ngIf="((emailAddress.invalid && emailAddress.touched) || emailAddress.dirty)">
                        <mat-error *ngIf="emailAddress.errors?.['required']"><i class="zmdi zmdi-alert-circle-o"></i> emailAddress address is required.</mat-error>
                        <mat-error *ngIf="emailAddress.errors?.['pattern']"><i class="zmdi zmdi-alert-circle-o"></i> emailAddress pattern is not correct</mat-error>
                    </mat-error>
                </div>

                <!-- companyName Feild -->
                <div class="mb-3 col-md-12">
                    <input required ngModel type="text" name="companyName" id="companyName" #companyName="ngModel" placeholder="  Company Name:" class="form-control f-info" />

                    <mat-error *ngIf="companyName.touched && !companyName.valid">
                        <mat-error *ngIf="companyName.errors?.['required']"><i class="zmdi zmdi-alert-circle-o"></i> Brand name is required.</mat-error>
                    </mat-error>
                </div>

                <!-- designation Feild -->
                <div class="col-md-12">
                    <input required ngModel type="text" name="designation" id="designation" #designation="ngModel" placeholder="  Designation:" class="form-control f-info" />

                    <mat-error *ngIf="designation.touched && !designation.valid">
                        <mat-error *ngIf="designation.errors?.['required']"><i class="zmdi zmdi-alert-circle-o"></i> designation is required.</mat-error>
                    </mat-error>
                </div>

                <!-- companyType Feild -->
                <div class="form-group">
                    <select hidden [ngModel]="dropValue" name="ccmpanyType" class="form-control f-info" id="exampleFormControlSelect1">
                      <option [value]="dropValue">Commercial</option>
                    </select>
                </div>

                <!-- password Feild -->
                <div class="mb-3 col-md-12">
                    <input required ngModel #password="ngModel" [(ngModel)]="model.password" type="password" name="password" id="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" class="form-control f-info" placeholder="  Password:" onmousedown="this.type='text'" onmouseup="this.type='password'"
                        onmousemove="this.type='password'">

                    <mat-error *ngIf="password.touched && !password.valid">
                        <mat-error *ngIf="password.errors?.['required']"><i class="zmdi zmdi-alert-circle-o"></i> password field can not be empty.</mat-error>
                        <mat-error *ngIf="password.errors?.['pattern']"><i class="zmdi zmdi-alert-circle-o"></i> Contain number, uppercase,lowercase letter, and at least 6 characters.</mat-error>
                    </mat-error>
                </div>


                <!-- Confirm password Feild -->
                <div class="mb-3 col-md-12">
                    <input required ngModel #reEnterPassword="ngModel" [(ngModel)]="model.reEnterPassword" type="password" name="reEnterPassword" id="reEnterPassword" class="form-control f-info" placeholder="  Re-enter password:" />

                    <mat-error *ngIf="reEnterPassword.touched && !reEnterPassword.valid">
                        <mat-error *ngIf="(model.password !== model.reEnterPassword)"><i class="zmdi zmdi-alert-circle-o"></i> passwords do not match.</mat-error>
                        <mat-error *ngIf="reEnterPassword.errors?.['required']"><i class="zmdi zmdi-alert-circle-o"></i> password field can not be empty.</mat-error>
                    </mat-error>
                </div>

                <!-- For viewing output -->

                <!-- <p>{{registerForm.value | json}}</p> -->

                <div class="form-group form-button">
                    <input type="submit" name="signup" id="signup" class="form-submit button button-medium button-border button-rounded b-info" value="register" [disabled]="!registerForm.valid" />
                </div>
            </div>
            <!-- end row -->
        </form>

    </div>
    <!-- container end -->
    <!-- Modal -->
    <!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-4 p-md-5 rounded text-center align-items-center shadow-lg border-0" style="background-color: #F1F1F1;">
                <img src="../../../assets/images/popups/recovery-email.svg" alt="Svg" height="200" class="mb-4">
                <h2>Hi, {{firstName.value}} {{lastName.value}}</h2>
                <h3>Confirmation link Sent to {{emailAddress.value}}</h3>
                <p>Please, Check your emailAddress inbox and click the link to activate your account.</p>

                <div>
                    <a href="#" class="button button-circle button-3d button-dirtygreen mt-4" data-bs-dismiss="modal">Close</a>
                </div>
            </div>
        </div>
    </div> -->
    <!-- modal end -->
</div>
<!-- body end -->