.zmdi.zmdi-alert-circle-o {
    color: red;
}

.error-icons {
    color: red;
}

@media (max-width:860px) {
    img#optionalstuff {
        display: none;
    }
}

.alert-modi {
    color: red;
}

h2 {
    font-size: 25px;
}