.ng-pristine.ng-invalid.ng-touched {
    border-bottom: 1px solid red;
}

.zmdi.zmdi-alert-circle-o {
    color: red;
}

@media (max-width:768px) {
    img#optionalstuff {
        display: none;
    }
}

.alert-modi {
    color: red;
}

h2 {
    font-size: 25px;
}