<!-- Sign up form -->
<section class="signup">
    <div class="container">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">Sign up</h2>
                <!-- Full Form Hander Field -->
                <form class="register-form" id="register-form" #registerForm="ngForm" (ngSubmit)="onRegSubmit(registerForm)">

                    <!-- fullName Feild -->
                    <div class="form-group">
                        <label for="fullName"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input required ngModel minlength="3" type="text" name="fullName" id="fullName" #fullName="ngModel" placeholder="Your Full Name" />
                    </div>

                    <!-- User name Validation and alert styles -->
                    <div class="alert-modi" style="margin-top: -20px !important;" *ngIf="fullName.touched && !fullName.valid">
                        <div *ngIf="fullName.errors?.['required']"><i class="zmdi zmdi-alert-circle-o"></i> User name is required.</div>
                        <div *ngIf="fullName.errors?.['minlength']"><i class="zmdi zmdi-alert-circle-o"></i> User name should be minimum {{fullName.errors?.['minlength'].requiredLength}} characters.</div>
                    </div>

                    <!-- Email Feild -->
                    <div class="form-group">
                        <label for="email"><i class="zmdi zmdi-email"></i></label>
                        <input required ngModel type="email" name="email" id="email" #email="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Your Email" />
                    </div>

                    <!-- Email Validation & Alert Style -->
                    <div class="alert-modi" style="margin-top: -20px !important;" *ngIf="((email.invalid && email.touched) || email.dirty)">
                        <div *ngIf="email.errors?.['required']"><i class="zmdi zmdi-alert-circle-o"></i> Email address is required.</div>
                        <div *ngIf="email.errors?.['pattern']"><i class="zmdi zmdi-alert-circle-o"></i> Email pattern is not correct</div>
                    </div>

                    <!-- CompanyName Feild -->
                    <div class="form-group">
                        <label for="companyName"><i class="zmdi zmdi-store "></i></label>
                        <input required ngModel type="companyName" name="companyName" id="companyName" #companyName="ngModel" placeholder="Your Company Name" />
                    </div>

                    <!-- CompanyName Validation & Alert Style -->
                    <div class="alert-modi" style="margin-top: -20px !important;" *ngIf="companyName.touched && !companyName.valid">
                        <div *ngIf="companyName.errors?.['required']"><i class="zmdi zmdi-alert-circle-o"></i> Company name is required.</div>
                    </div>

                    <!-- Password Feild -->
                    <div class="form-group">
                        <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                        <input required ngModel #pass="ngModel" type="password" name="pass" id="pass" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" />
                    </div>

                    <!-- Password validation Feild -->
                    <div class="alert-modi" style="margin-top: -20px !important;" *ngIf="pass.touched && !pass.valid">
                        <div *ngIf="pass.errors?.['required']"><i class="zmdi zmdi-alert-circle-o"></i> Password field can not be empty.</div>
                        <div *ngIf="pass.errors?.['pattern']"><i class="zmdi zmdi-alert-circle-o"></i> Must contain at least one number and one uppercase and lowercase letter, and at least 6 or more characters.</div>
                    </div>

                    <!-- Confirm Password Feild -->
                    <div class="form-group">
                        <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                        <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password" />
                    </div>

                    <div class="form-group">
                        <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                        <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                    </div>

                    <!-- For viewing output -->

                    <p>{{registerForm.value | json}}</p>

                    <div class="form-group form-button">
                        <input type="submit" name="signup" id="signup" class="form-submit" value="Register" [disabled]="!registerForm.valid" />
                    </div>
                </form>
            </div>
            <div class="signup-image">
                <figure><img id="optionalstuff" src="../../../assets/images/signup-image.jpg" alt="sing up image"></figure>
                <a routerLink="../login" class="signup-image-link">I am already member</a>
            </div>
        </div>
    </div>
</section>