<div class="body" style="background-color: #F6F6F6; height: auto;">
    <!-- div container start -->

    <div class="sidebar">
        <ul class="list-unstyled ps-0 ms-3 mt-2">
            <!-- Company Data part -->
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#companyData" aria-expanded="true"><img src="../../../../../assets/images/img/companyData.svg">
              Company Data
            </button>
                <div class="collapse show" id="companyData">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ms-1">
                        <li><a routerLink="about" routerLinkActive="active" class="link-dark d-inline-flex text-decoration-none rounded">About</a></li>
                        <li><a routerLink="general-data" routerLinkActive="active" class="link-dark d-inline-flex text-decoration-none rounded">General Data</a></li>
                        <li><a routerLink="customer" routerLinkActive="active" class="link-dark d-inline-flex text-decoration-none rounded">Customer</a></li>
                        <li><a routerLink="supplier" routerLinkActive="active" class="link-dark d-inline-flex text-decoration-none rounded">Supplier</a></li>
                    </ul>
                </div>
            </li>
            <!-- Product Part -->
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#Product" aria-expanded="false"><img src="../../../../../assets/images/img/product.svg">
              Product
            </button>
                <div class="collapse" id="Product">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a routerLink="" class="link-dark d-inline-flex text-decoration-none rounded">Overview</a></li>
                        <li><a routerLink="" class="link-dark d-inline-flex text-decoration-none rounded">Weekly</a></li>
                        <li><a routerLink="" class="link-dark d-inline-flex text-decoration-none rounded">Monthly</a></li>
                        <li><a routerLink="" class="link-dark d-inline-flex text-decoration-none rounded">Annually</a></li>
                    </ul>
                </div>
            </li>
            <!-- Licences part-->
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#Licences" aria-expanded="false"><img src="../../../../../assets/images/img/licences.svg">
                Licences
            </button>
                <div class="collapse" id="Licences">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a routerLink="" class="link-dark d-inline-flex text-decoration-none rounded">New</a></li>
                        <li><a routerLink="" class="link-dark d-inline-flex text-decoration-none rounded">Processed</a></li>
                        <li><a routerLink="" class="link-dark d-inline-flex text-decoration-none rounded">Shipped</a></li>
                        <li><a routerLink="" class="link-dark d-inline-flex text-decoration-none rounded">Returned</a></li>
                    </ul>
                </div>
            </li>
            <!-- Supply chain part -->
            <!-- <li class="border-top my-3"></li> -->
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#supplychain" aria-expanded="false"><img src="../../../../../assets/images/img/supplychain.svg">
                    Supply chain
            </button>
                <div class="collapse" id="supplychain">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a routerLink="" class="link-dark d-inline-flex text-decoration-none rounded">New...</a></li>
                        <li><a routerLink="" class="link-dark d-inline-flex text-decoration-none rounded">Profile</a></li>
                        <li><a routerLink="" class="link-dark d-inline-flex text-decoration-none rounded">Settings</a></li>
                        <li><a routerLink="" class="link-dark d-inline-flex text-decoration-none rounded">Sign out</a></li>
                    </ul>
                </div>
            </li>
            <!-- Resource Management Part -->
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#resourceManagement" aria-expanded="false"><img src="../../../../../assets/images/img/resourceManagement.svg">
              Resource Management
            </button>
                <div class="collapse" id="resourceManagement">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a routerLink="" class="link-dark d-inline-flex text-decoration-none rounded">New...</a></li>
                        <li><a routerLink="" class="link-dark d-inline-flex text-decoration-none rounded">Profile</a></li>
                        <li><a routerLink="" class="link-dark d-inline-flex text-decoration-none rounded">Settings</a></li>
                        <li><a routerLink="" class="link-dark d-inline-flex text-decoration-none rounded">Sign out</a></li>
                    </ul>
                </div>
            </li>
            <!-- Site Data part -->
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#siteData" aria-expanded="false"><img src="../../../../../assets/images/img/siteData.svg">
              Site Data
            </button>
                <div class="collapse" id="siteData">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a routerLink="" class="link-dark d-inline-flex text-decoration-none rounded">New...</a></li>
                        <li><a routerLink="" class="link-dark d-inline-flex text-decoration-none rounded">Profile</a></li>
                        <li><a routerLink="" class="link-dark d-inline-flex text-decoration-none rounded">Settings</a></li>
                        <li><a routerLink="" class="link-dark d-inline-flex text-decoration-none rounded">Sign out</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    <div class="content">
        <router-outlet></router-outlet>
    </div>

</div>