.create-acc {
    margin-top: 30px !important;
    margin-left: 10%;
}

.forgot-pass {
    color: #222;
}

.forgot-pass:hover {
    color: #0d6efd;
}

@media (max-width:768px) {
    img#optionalstuff {
        display: none;
    }
    .create-acc {
        margin-left: 1%;
    }
}

@media (max-width:1200px) {
    .forgot-pass {
        margin-left: 5%;
    }
}

@media only screen and (min-width: 768px) {
    .create-acc {
        margin-left: 10%;
    }
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}