.forgot-pass {
    color: #222;
    margin-top: 5px;
}

.forgot-pass:hover {
    color: #93117d;
}


/* Full Width Input form */

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 60%;
}


/* Radio Container  and checkbox*/

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #93117d !important;
    /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #93117d !important;
    /*outer ring color change*/
}

.radio-container input:checked~.checkmark {
    background-color: #e5e5e5;
}


/* Input Label Color */

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #93117d !important;
}

::ng-deep .mat-form-field-appearance-outline {
    width: 65px;
    height: 45px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
    /* padding: 0px 10px 0px 10px; */
}

::ng-deep .mat-form-field-infix {
    padding: 3px 0 3px 0;
}


/* ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #93117d !important;
} */

.form-submit {
    display: inline-block;
    background: rgba(147, 17, 126, 0.7);
    color: #fff;
    border-bottom: none;
    width: auto;
    padding: 15px 39px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    margin-top: 25px;
    cursor: pointer;
}

.form-submit:hover {
    background: #93117d;
}

.signup-image-link {
    font-size: 14px;
    color: #222;
    display: block;
    text-align: center;
}

.signup-image-link:hover {
    color: #93117d;
}

.term-service {
    font-size: 13px;
    color: #222;
    font-weight: 600;
}

.term-service:hover {
    color: #0d6efd;
}

.agree-term {
    display: inline-block;
    width: auto;
}

mat-label {
    position: relative;
}

.material-icons-name {
    font-size: 18px;
}