<div class="body" style="height: 100vh;">
    <!-- Navbar -->
    <div class="container sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid mt-2">
                <a class="navbar-brand mb-2" href="#">SUTRA</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- nav end -->

    <!-- Your role field -->
    <div class="center mt-5">
        <a class="button button-xlarge button-circle button-3d button-dirtygreen btn-modi animate__animated animate__fadeInUp" style="width: 300px !important;"><span class="text-center">Commercial</span><i class="icon-plus-circle icon-modi-1"></i></a>
    </div>

    <!-- div container start -->
    <div class="container mt-4">
        <div class="row justify-content-center h-100">

            <!-- Login signup tabs -->
            <ul class="nav nav-tabs mx-auto mb-0 center nav-modi" id="myTab0" role="tablist">
                <!-- first Tab Login -->
                <li class="nav-item link-modi" role="presentation">
                    <button class="nav-link active" id="home-tab0" data-bs-toggle="tab" data-bs-target="#home0" type="button" role="tab" aria-controls="home" aria-selected="true">
                <b>Login</b>
              </button>
                </li>
                <!-- second tab signup -->
                <li class="nav-item link-modi" role="presentation">
                    <button class="nav-link " id="profile-tab0" data-bs-toggle="tab" data-bs-target="#profile0" type="button" role="tab" aria-controls="profile" aria-selected="false">
                <b>Sign up</b>
              </button>
                </li>
            </ul>
            <!-- Tab content -->
            <div class="tab-content" id="myTabContent0">
                <!-- tab login -->
                <div class="tab-pane fade show active" id="home0" role="tabpanel" aria-labelledby="home-tab0">

                    <!-- Login Form -->
                    <form #loginForm="ngForm" class="register-form  center" id="loginForm" (submit)="onLogin(loginForm)">

                        <!-- Login Input Field -->
                        <div class="mt-4">
                            <input required ngModel #loginName="ngModel" type="text" name="loginName" id="your_name" placeholder="  E-Mail/Login ID:" class="form-control f-info">
                        </div>

                        <!-- Password Input Field -->
                        <div class="mt-4">

                            <input required ngModel #loginPass="ngModel" type="password" placeholder="   Password:" name="loginPass" id="your_pass" [type]="hide ? 'password' : 'text'" class="form-control f-info" onmousedown="this.type='text'" onmouseup="this.type='password'" onmousemove="this.type='password'">

                            <!-- visible pass icon will implemented -->
                            <button class="float-center" mat-icon-button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </div>

                        <!-- Login Button Field -->
                        <div class="">
                            <input type="submit" name="signin" id="signin" class="button button-medium button-border button-rounded b-info" value="Log in" />
                        </div>

                        <!-- forgot pass field -->
                        <div class="text-center mt-2">
                            <a class="link link-6" routerLink="../forgot-password"> <span>Forgot Password?</span></a>
                        </div>





                        <!-- <p>{{loginForm.value | json}}</p> -->
                    </form>
                </div>
                <!-- end tab login -->

                <!-- tab content signup come from sign up page -->
                <div class="tab-pane fade" id="profile0" role="tabpanel" aria-labelledby="profile-tab0">
                    <app-signup></app-signup>
                </div>
            </div>
            <!-- tab div end -->

        </div>
        <!-- div end -->

    </div>
    <!-- container div end -->

</div>
<!-- body end -->