.create-acc {
    margin-top: 10px !important;
    margin-left: 10%;
}

.forgot-pass {
    color: #222;
}

.forgot-pass:hover {
    color: #93117d;
}

@media (max-width:860px) {
    img#optionalstuff {
        display: none;
    }
    .create-acc {
        margin-left: 1%;
    }
}

@media (max-width:1200px) {
    .forgot-pass {
        margin-left: 5%;
    }
}

@media only screen and (min-width: 768px) {
    .create-acc {
        margin-left: 10%;
    }
}

.form-group {
    overflow: hidden !important;
}