<div class="body">
    <!-- Navbar -->
    <div class="container sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid mt-2">
                <a class="navbar-brand mb-2" href="#">SUTRA</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- nav end -->

    <div class="container topmargin-lg center">

        <!-- Login Form -->
        <form #loginForm="ngForm" class="register-form" id="loginForm" (submit)="onLogin(loginForm)">

            <!-- Login Input Field -->
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i> Email Address/User Name</mat-label>

                    <input matInput required ngModel #loginName="ngModel" type="text" name="loginName" id="your_name" placeholder="your_mail@email.com">
                </mat-form-field>
            </div>

            <!-- Password Input Field -->
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label for="your_pass"><i class="zmdi zmdi-lock"></i> Enter your password</mat-label>

                    <input matInput required ngModel #loginPass="ngModel" type="password" name="loginPass" id="your_pass" [type]="hide ? 'password' : 'text'">

                    <!-- visible pass icon will implemented -->
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                </mat-form-field>
            </div>
            <a routerLink="../forgot-password" class="float-end forgot-pass">Forgot Password?</a>


            <!-- Remember me Field -->
            <div class="form-group">
                <input ngModel #rememberMe="ngModel" type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                <label for="remember-me" class="label-agree-term">Keep Logged In</label>
            </div>

            <!-- Login Button Field -->
            <div class="form-group form-button">
                <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
            </div>
            <!-- <p>{{loginForm.value | json}}</p> -->
        </form>

        <div class="social-login create-acc">
            <span class="social-label">Don't have an account?</span>
            <ul class="socials">
                <a routerLink="../signup" class="signup-image-link">Register New!</a>
            </ul>
        </div>

    </div>
    <!-- div end -->





    <div class="tabs mx-auto mb-0 clearfix" id="tab-login-register" style="max-width: 500px;">

        <ul class="tab-nav tab-nav2 center clearfix">
            <li class="inline-block"><a href="#tab-login">Login</a></li>
            <li class="inline-block"><a href="#tab-register">Register</a></li>
        </ul>
    </div>

</div>
<!-- body end -->