<!-- Sing in  Form -->
<section class="sign-in container-login100" style="background-image: url('../../../assets/images/bg-02.jpg');">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <!-- Image Field -->
                <figure><img id="optionalstuff" src="../../../assets/images/signin-image.jpg" alt="sing up image"></figure>
                <div class="social-login create-acc">
                    <span class="social-label">Don't have an account?</span>
                    <ul class="socials">
                        <a routerLink="../signup" class="signup-image-link">Register New!</a>
                    </ul>
                </div>
            </div>


            <div class="signin-form">
                <h2 class="form-title">Sign in</h2>

                <!-- Login Form -->
                <form #loginForm="ngForm" class="register-form" id="loginForm" (submit)="onLogin(loginForm)">

                    <!-- Login Input Field -->
                    <div class="form-group">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i> Email Address/User Name</mat-label>

                            <input matInput required ngModel #loginName="ngModel" type="text" name="loginName" id="your_name" placeholder="your_mail@email.com">
                        </mat-form-field>
                    </div>

                    <!-- Password Input Field -->
                    <div class="form-group">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label for="your_pass"><i class="zmdi zmdi-lock"></i> Enter your password</mat-label>

                            <input matInput required ngModel #loginPass="ngModel" type="password" name="loginPass" id="your_pass" [type]="hide ? 'password' : 'text'">

                            <!-- visible pass icon will implemented -->
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <a routerLink="../forgot-password" class="float-end forgot-pass">Forgot Password?</a>


                    <!-- Remember me Field -->
                    <div class="form-group">
                        <input ngModel #rememberMe="ngModel" type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                        <label for="remember-me" class="label-agree-term">Keep Logged In</label>
                    </div>

                    <!-- Login Button Field -->
                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
                    </div>
                    <!-- <p>{{loginForm.value | json}}</p> -->
                </form>

            </div>
        </div>
    </div>
</section>