.con-modi {
    border: 2px solid #93117D;
    box-sizing: border-box;
    filter: drop-shadow(-5px -5px 10px #FFFFFF) drop-shadow(5px 5px 10px rgba(151, 149, 169, 0.5));
    border-radius: 25px;
}

.nav-link {
    border: 2px solid #777;
    box-sizing: border-box;
    border-radius: 15px;
    color: #777;
    padding: 14px 0px;
}

.nav-link.active {
    background: #777;
    box-shadow: -1px -1px 1px #FFFFFF, 1px 1px 1px rgba(151, 149, 169, 0.5);
    border-radius: 15px;
    color: #FFFFFF;
}

textarea {
    background: #FFFFFF;
    box-shadow: inset -6px -6px 4px #FFFFFF, inset 6px 6px 10px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

textarea:focus {
    background: #FFFFFF;
    box-shadow: inset -6px -6px 4px #FFFFFF, inset 6px 6px 10px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

input {
    background: #FFFFFF;
    box-shadow: inset -6px -6px 4px #FFFFFF, inset 6px 6px 10px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

input:focus {
    background: #FFFFFF;
    box-shadow: inset -6px -6px 4px #FFFFFF, inset 6px 6px 10px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.hint {
    color: rgba(170, 0, 0, 0.6);
}

label {
    color: #93117D;
    font-size: smaller !important;
    text-align: center !important;
}

.label {
    font-size: 13px;
    font-weight: 700;
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #93117D;
    margin-bottom: 10px;
    cursor: pointer;
}

.tab-modi {
    border: 1px solid #ABA9BF;
    box-sizing: border-box;
    border-radius: 13px;
}

.b-info {
    box-shadow: -5px -5px 10px #FFFFFF, 5px 5px 10px rgba(151, 149, 169, 0.5);
    border-radius: 16px;
    padding: 10px 40px;
}

.bn-info {
    box-shadow: -5px -5px 10px #FFFFFF, 5px 5px 10px rgba(151, 149, 169, 0.5);
    border-radius: 16px;
    padding: 10px 20px;
    margin-inline: 10px;
}

.btn-size {
    /* padding: 7px 43px 7px 43px !important; */
    border-radius: 4px !important;
    width: 150px !important;
    height: 50px;
    margin-bottom: 0px !important;
}

.input-size {
    max-width: 150px !important;
    border-radius: 4px !important;
    border: 1px solid #6c757d;
    margin-top: 0px;
}