.con-modi {
    border: 2px solid #93117D;
    box-sizing: border-box;
    filter: drop-shadow(-5px -5px 10px #FFFFFF) drop-shadow(5px 5px 10px rgba(151, 149, 169, 0.5));
    border-radius: 25px;
}

.nav-link {
    border: 2px solid #777;
    box-sizing: border-box;
    border-radius: 15px;
    color: #777;
    padding: 14px 0px;
}

.nav-link.active {
    background: #777;
    box-shadow: -1px -1px 1px #FFFFFF, 1px 1px 1px rgba(151, 149, 169, 0.5);
    border-radius: 15px;
    color: #FFFFFF;
}

textarea {
    background: #FFFFFF;
    box-shadow: inset -6px -6px 4px #FFFFFF, inset 6px 6px 10px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

textarea:focus {
    background: #FFFFFF;
    box-shadow: inset -6px -6px 4px #FFFFFF, inset 6px 6px 10px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

input {
    background: #FFFFFF;
    box-shadow: inset -6px -6px 4px #FFFFFF, inset 6px 6px 10px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

input:focus {
    background: #FFFFFF;
    box-shadow: inset -6px -6px 4px #FFFFFF, inset 6px 6px 10px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.hint {
    color: rgba(170, 0, 0, 0.6);
}

label {
    color: #93117D;
    font-size: smaller !important;
    /* text-align: center !important; */
    text-transform: capitalize;
}

.label {
    font-size: 13px;
    font-weight: 700;
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #93117D;
    margin-bottom: 10px;
    cursor: pointer;
}

.tab-modi {
    border: 1px solid #ABA9BF;
    box-sizing: border-box;
    border-radius: 13px;
}

.b-info {
    box-shadow: -5px -5px 10px #FFFFFF, 5px 5px 10px rgba(151, 149, 169, 0.5);
    border-radius: 16px;
    padding: 10px 40px;
}

.bn-info {
    box-shadow: -5px -5px 10px #FFFFFF, 5px 5px 10px rgba(151, 149, 169, 0.5);
    border-radius: 16px;
    padding: 10px 20px;
    margin-inline: 10px;
}

.btn-size {
    /* padding: 7px 43px 7px 43px !important; */
    border-radius: 4px !important;
    width: 150px !important;
    height: 50px;
    margin-bottom: 0px !important;
}

.input-size {
    max-width: 150px !important;
    border-radius: 4px !important;
    margin-top: 0px;
    padding: 7px 10px;
    border: 1px solid var(--text);
    background: #fff;
}

.btn-success-s {
    color: #fff;
    background: #93117D !important;
    max-width: 200px !important;
    max-height: 38px;
    overflow: hidden;
}

.btn-success-s2 {
    color: #fff;
    background: #93117D;
}

.multfile {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    background-color: transparent;
    color: transparent;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: #93117D !important;
}

 ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #93117D!important;
    /*inner circle color change*/
}

 ::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #93117D!important;
    /*outer ring color change*/
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    color: #93117D !important;
    border-color: #93117D !important;
}

.btn-circle:hover {
    background: #93117D !important;
    border-color: #93117D !important;
    color: #FFFFFF !important;
}