/* mat form field */

.example-full-width {
    width: 100%;
}

mat-hint {
    font-size: 9px;
}

.mat-form-field {
    font-size: 10px;
    font-weight: 600;
    line-height: 1.125;
    font-family: 'Poppins', sans-serif;
    letter-spacing: normal;
    background: transparent;
}


/* mat-input carent color */

::ng-deep .mat-input-element {
    /* caret-color: red!important; */
    padding-left: 5px !important;
}


/* mat-label focused style invalid and valid state */

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: black!important;
    font-size: 12px;
    line-height: 14px;
    transform: translateY(-1.6em) scale(.66) !important;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: black !important;
}


/* ::ng-deep .mat-form-field.mat-focused.mat-form-field-invalid .mat-form-field-label {
    color: red !important;
    padding-left: 30px !important;
} */


/* mat-label normal state style */

::ng-deep .mat-form-field-label {
    color: rgba(0, 0, 0, .7)!important;
    padding-left: 5px !important;
}


/* For manually height  */


/* ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
    height: 35px !important
}

 ::ng-deep .mat-form-field-infix {
    padding-top: 6px !important;
} */

hr {
    width: 97%;
    margin: auto;
}

.b-info {
    box-shadow: -5px -5px 10px #FFFFFF, 5px 5px 10px rgba(151, 149, 169, 0.5);
    border-radius: 8px;
    padding: 6px 30px;
    margin-right: 10px;
}

.btn-add {
    border: 1px solid #278E90;
    border-radius: 8px;
    padding: 6px 30px;
}

.btn-add:hover {
    background: #278E90;
}

.btn-check:checked+.btn-outline-secondary {
    color: #fff;
    background-color: #278E90;
    border-color: #278E90;
}

.hint {
    color: rgba(170, 0, 0, 0.6);
    font-size: smaller;
}

.icon-color {
    color: #278E90;
}

.sm-font {
    font-size: 12px;
    font-weight: 400;
}


/* for file upload */

.upload-style {
    background: #F6F6F6;
    border: 1px dashed #000000;
    border-radius: 20px;
    width: 45% !important;
    margin: auto;
}

b {
    color: #419b9d;
    font-weight: 600;
}