<div class="mt-2">
    <form id="aboutForm" #aboutForm="ngForm" (ngSubmit)="onaboutSubmit(aboutForm)">
        <div class="row">
            <!-- contact Info field -->
            <!-- start sub col-3*4 -->
            <div class="col-md-3">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Company name</mat-label>
                    <input matInput ngModel #companyName="ngModel" type="text" name="companyName" id="companyName">
                </mat-form-field>
            </div>

            <div class="col-md-3">
                <!-- <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Country</mat-label>
                    <input matInput ngModel #countryName="ngModel" type="text" name="countryName" id="countryName">
                </mat-form-field> -->

                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Country</mat-label>
                    <input type="text" placeholder="Select Your Country" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <div class="col-md-3">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>State/ Division</mat-label>
                    <input matInput ngModel #district="ngModel" type="text" name="district" id="district">
                </mat-form-field>
            </div>

            <div class="col-md-3">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>City</mat-label>
                    <input matInput ngModel #city="ngModel" type="text" name="city" id="city">
                </mat-form-field>
            </div>
            <!-- end sub col-3 -->

            <!-- start new sub col-4*3 -->
            <div class="col-md-3">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Street</mat-label>
                    <input matInput ngModel #street="ngModel" type="text" name="street" id="street">
                </mat-form-field>
            </div>

            <div class="col-md-3">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Postal code</mat-label>
                    <input matInput ngModel #postalCode="ngModel" type="text" name="postalCode" id="postalCode">
                </mat-form-field>
            </div>

            <!-- latitude Field -->

            <div class="col-md-3">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Latitude</mat-label>
                    <input matInput ngModel #latitude="ngModel" type="text" name="latitude" id="latitude">
                </mat-form-field>
            </div>

            <div class="col-md-3">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Longtitude</mat-label>
                    <input matInput ngModel #longtitude="ngModel" type="text" name="longtitude" id="longtitude">
                </mat-form-field>
            </div>

            <!-- end new sub col-3*4-->

            <div class="col-md-3">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Contract No</mat-label>
                    <input matInput ngModel #contactNumber="ngModel" type="text" id="contactNumber" name="contactNumber">
                </mat-form-field>
            </div>

            <div class="col-md-3">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Fax No</mat-label>
                    <input matInput ngModel #faxNo="ngModel" type="text" name="faxNo" id="faxNo">
                </mat-form-field>
            </div>

            <div class="col-md-3">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput ngModel #emailS="ngModel" type="text" name="emailS" id="emailS">
                </mat-form-field>
            </div>

            <div class="col-md-3 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Company website</mat-label>
                    <input matInput ngModel #companyWeb="ngModel" type="text" name="companyWeb" id="companyWeb">
                </mat-form-field>
            </div>

            <!-- horizontal line -->
            <hr class="mb-3">
            <!-- end hr -->

            <!-- Company vission,Mission & group field -->
            <div class="col-md-4">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Company Vision</mat-label>
                    <textarea matInput ngModel #companyVision="ngModel" name="companyVision" id="companyVision" rows="3" maxlength="200"></textarea>
                    <mat-hint>Maximum 200 characters</mat-hint>
                </mat-form-field>
            </div>

            <div class="col-md-4">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Company Mission</mat-label>
                    <textarea matInput ngModel #companyMission="ngModel" id="companyMission" name="companyMission" rows="3" maxlength="200"></textarea>
                    <mat-hint>Maximum 200 characters</mat-hint>
                </mat-form-field>
            </div>

            <div class="col-md-4">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Company highlights</mat-label>
                    <textarea matInput ngModel #companyHighlights="ngModel" name="companyHighlights" id="companyHighlights" rows="3" maxlength="200"></textarea>
                    <mat-hint>Maximum 200 characters</mat-hint>
                </mat-form-field>
            </div>

            <div class="col-md-12 mt-2">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Belonging to group of companies?</mat-label>
                    <input matInput ngModel #belongingToGroupOfCompanies="ngModel" name="belongingToGroupOfCompanies" id="belongingToGroupOfCompanies">
                </mat-form-field>
            </div>
            <!--End company vission,Mission & group field -->

            <!-- horizontal line -->
            <hr class="mt-2">
            <!-- end hr -->

            <!-- upload company photos -->
            <label for="companyPhotos" class="center mt-3 mb-2">Upload photos of your company front gate</label>
            <div class="col-md-12 mb-4">
                <p class="sm-font text-center"> *PNG and JPG files are allowed</p>
                <ngx-dropzone class="upload-style" (change)="onSelect($event)" accept="image/*">
                    <ngx-dropzone-label><img src="../../../../../../../assets/images/img/upload.svg">
                        <br><br> Drag your file(s) here or <b>browse</b></ngx-dropzone-label>
                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                    </ngx-dropzone-image-preview>
                </ngx-dropzone>
            </div>
            <div aria-live="polite" toastContainer></div>

            <!-- horizontal line -->
            <hr class="mt-2">
            <!-- end hr -->




            <!-- <p class="center">{{aboutForm.value | json}}</p> -->
            <!-- button save -->
            <div class="text-end mt-4">
                <button class="btn btn-outline-secondary b-info" type="submit" name="save">Save</button>
            </div>


        </div>
        <!-- row end -->
    </form>
</div>